
.paddingTB60 {padding:60px 0px 60px 0px;}


.about-title h1 { font-size:45px;font-weight:600;}
.about-title span {color: goldenrod; font-size:45px;font-weight:700;}
.about-title h3 { font-size:23px;margin-bottom:24px;}
.about-title p {line-height: 1.8;margin: 0 0 15px;}
.about-paddingB {padding-bottom: 12px;}
.about-img {padding-left: 57px;}

/* Social Icons */
.about-icons {margin:48px 0px 48px 0px ;}
.about-icons i{margin-right: 10px;padding: 0px; font-size:35px;color:#323232;box-shadow: 0 0 3px rgba(0, 0, 0, .2);}
.about-icons li {margin:0px;padding:0;display:inline-block;}
#social-fb:hover {color: #3B5998;transition:all .001s;}
 #social-tw:hover {color: #4099FF;transition:all .001s;}
 #social-gp:hover {color: #d34836;transition:all .001s;}
 #social-em:hover {color: #f39c12;transition:all .001s;}
 body{background-color: #444; color: aliceblue;font-size: 150%;}
 .row
{
    max-width: 1200px;
    margin: auto;
    text-emphasis: left;
}

.main
{
    /* float: right; */
    list-style: none;
    margin-top: 30px;
}
.main li
{
    display: inline-block;
}



.main li a:hover
{
    border: 1px solid white;
}


.main li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
 