body{
    background-color: #444;
    color: rgb(255, 255, 255);
}
.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: darkgoldenrod;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: #444;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: darkgoldenrod;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}

.contact-form{
    color: #444;
}

a{
    color: #444;
}

.row
{
    max-width: 1200px;
    margin: auto;
    text-emphasis: left;
}

.main
{
    /* float: right; */
    list-style: none;
    margin-top: 30px;
}
.main li
{
    display: inline-block;
}



.main li a:hover
{
    border: 1px solid white;
}


.main li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
 
.social li
{
    display: inline-block;
    width: 100px;
    
}

.social li a
{
    color: rgb(64, 189, 189);
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.social li a:hover
{
    color: rgb(64, 189, 189);
    border: none;
}

.social li.active a
{
    border-bottom: none  ;
    
    
}
.main-foot{
    margin-top: 250px;
    padding: 0;
    text-align: center;
    
}
.main-foot p{
  margin: 0 auto;
  padding: 0;
  /* text-align: left; */
  position:absolute;
  left: 20%;
  
}